{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'customer.css' | asset_url | stylesheet_tag }}

<cart-items class="gradient">
  <div class="page-width cart-layout">
<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
  <a href="{{ routes.root_url }}">Home</a>
  <span class="divider">/</span>
  <span aria-current="page">Cart</span>
</nav>

    <!-- Page Title -->
    {%- if cart.item_count > 0 -%}
  <div>
    <h2 class="customer-page-heading">{{ 'sections.cart.title' | t }}</h2>
  </div>
{%- endif -%}

  <div class="cart-item-row">
    <!-- Cart Items -->
    <div class="cart-left">
      {% if cart.item_count == 0 %}
        <h2>Your cart is empty</h2>
        <a href="{{ routes.all_products_collection_url }}" class="button">Continue Shopping</a>
      {% else %}
        {% for item in cart.items %}
          <div class="cart-item-detail">
  <div>
    <img src="{{ item.image | image_url: width: 150 }}" alt="FCL-Image" width="100%;"height="auto">
  </div>

  <div class="cart-total">
    <p class="cart-item-title">
      <a href="{{ item.url }}">{{ item.product.title | truncate: 50, '...' }}</a>
    </p>

    <div class="cart-item-value">

      <div class="cart-item-price mobile">
        {% if item.original_price != item.final_price %}
          <p>
            <s>{{ item.original_price | money }}</s>
            <strong>{{ item.final_price | money }}</strong>
          </p>
        {% else %}
          <p><strong>{{ item.original_price | money }}</strong></p>
        {% endif %}
      </div>
      <div class="amount">
        {% if item.product.has_only_default_variant == false %}
          <div>
            {% for option in item.options_with_values %}
              <div class="variant-pill">{{ option.value }}</div>
            {% endfor %}
          </div>
        {% endif %}
  
        <form method="post" action="/cart/change" class="cart-qty">
          <input type="hidden" name="id" value="{{ item.key }}" />
          <button type="submit" name="quantity" value="{{ item.quantity | minus: 1 }}" class="qty-adjustor" aria-label="minus">–</button>
          <span style="margin: 0 10px;">{{ item.quantity }}</span>
          <button type="submit" name="quantity" value="{{ item.quantity | plus: 1 }}" class="qty-adjustor" aria-label="plus">+</button>
        </form>
      </div>
    </div>
  </div>

  <div class="cart-item-price desktop">
    {% if item.original_price != item.final_price %}
      <p>
        <s>{{ item.original_price | money }}</s>
        <strong>{{ item.final_price | money }}</strong>
      </p>
    {% else %}
      <p><strong>{{ item.original_price | money }}</strong></p>
    {% endif %}
  </div>

 <form method="post" action="/cart/change" class="cart-delete-form">
  <input type="hidden" name="id" value="{{ item.key }}" />
  <button type="submit" name="quantity" value="0" class="delete-btn" aria-label="Remove item">
    <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
      <line x1="18" y1="6" x2="6" y2="18" />
      <line x1="6" y1="6" x2="18" y2="18" />
    </svg>
  </button>
</form>
</div>

        {% endfor %}
      {% endif %}
    </div>

    <!-- Cart Summary -->
    {% if cart.item_count > 0 %}
      <div class="cart-summary">
        <div class="totals-row">
          <span>Price ({{ cart.item_count }} items)</span>
          <span>{{ cart.original_total_price | money }}</span>
        </div>
        {% assign discount_total = cart.original_total_price | minus: cart.total_price %}
        {% if discount_total > 0 %}
          <div class="totals-row">
            <span>Discount</span>
            <span>-{{ discount_total | money }}</span>
          </div>
        {% endif %}
      

        <div class="totals-row totals__total">
          <span>Total Price</span>
          <span>{{ cart.total_price | money }}</span>
        </div>

        <small class="tax-note caption-large rte">
                  {%- if cart.duties_included and cart.taxes_included -%}
                    {%- if shop.shipping_policy.body == blank -%}
                      {{ 'sections.cart.duties_and_taxes_included_shipping_at_checkout_without_policy' | t }}
                    {%- else -%}
                      {{
                        'sections.cart.duties_and_taxes_included_shipping_at_checkout_with_policy_html'
                        | t: link: shop.shipping_policy.url
                      }}
                    {%- endif -%}
                  {%- elsif cart.duties_included == false and cart.taxes_included -%}
                    {%- if shop.shipping_policy.body == blank -%}
                      {{ 'sections.cart.taxes_included_shipping_at_checkout_without_policy' | t }}
                    {%- else -%}
                      {{
                        'sections.cart.taxes_included_shipping_at_checkout_with_policy_html'
                        | t: link: shop.shipping_policy.url
                      }}
                    {%- endif -%}
                  {%- elsif cart.duties_included and cart.taxes_included == false -%}
                    {%- if shop.shipping_policy.body == blank -%}
                      {{ 'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
                    {%- else -%}
                      {{
                        'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_with_policy_html'
                        | t: link: shop.shipping_policy.url
                      }}
                    {%- endif -%}
                  {%- elsif cart.duties_included == false and cart.taxes_included == false -%}
                    {%- if shop.shipping_policy.body == blank -%}
                      {{ 'sections.cart.taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
                    {%- else -%}
                      {{
                        'sections.cart.taxes_at_checkout_shipping_at_checkout_with_policy_html'
                        | t: link: shop.shipping_policy.url
                      }}
                    {%- endif -%}
                  {%- endif -%}
                </small>
        <form method="post" action="/cart">
          {% comment %} <button type="submit" name="checkout" class="button button--primary">Checkout</button> {% endcomment %}
           {% render 'gokwik-checkout' %}
        </form>

        <a href="{{ routes.all_products_collection_url }}" class="button button--secondary" style="margin-top:10px;">Continue Shopping</a>
      </div>
    {% endif %}
  </div>
  </div>
</cart-items>



{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
