{{ 'review-with-product.css' | asset_url | stylesheet_tag }}
<div class="review-section page-width">
  <div class="row">
    <div class="smtestimonial col-xl-12 col-sm-12">
      {% if section.settings.testtitle1 != blank %}
        <div class="section-header center">
          <p class="b1">{{ section.settings.testtitle1 | escape }}</p>
        </div>
      {% endif %}

      {% if section.settings.testtitle != blank %}
        <div
          class="section-header center {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {{ block.shopify_attributes }}
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          <h2 class="home-title title review-heading regular">{{ section.settings.testtitle | escape }}</h2>
        </div>
      {% endif %}
     
      <div
        class="testimonial-inner {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
          style="--animation-order: {{ forloop.index }};"
        {% endif %}
        {% if section.settings.testimonialimages %}
          data-bg="{{ section.settings.testimonialimages | img_url: 'master' }}"
        {% endif %}
      >
        {% if section.blocks.size > 0 %}
          <div
            class="smtestimonials-carousel-{{ section.id }} smtestimonials-carousel slider-with-options owl-carousel owl-theme"
            class="smtestimonials-carousel-{{ section.id }} smtestimonials-carousel slider-with-options owl-carousel owl-theme"
            data-small="2"
            data-mobile="2"
            data-tablet="3"
            data-laptop="4"
            data-desktop="4"
            data-dots="true"
            data-margin="15"
          >
            {% for block in section.blocks %}
            {% assign placeholder_index = forloop.index0 | modulo: 4 | plus: 1 %}
            {% assign placeholder_name = 'demo' | append: placeholder_index | append: '.webp' %}
            <div
              class="smtestimonials-container {% if block.settings.testimonialimages %}testimonialimages lazyload{% else %}testimonialimages lazyload{% endif %} review-wrapper"
              style="{% if block.settings.testimonialimages %}
                      background-image: url({{ block.settings.testimonialimages | image_url }});
                    {% else %}
                      background-image: url({{ placeholder_name | asset_url }});
                    {% endif %}">
                <div class="user-content">
                  {% if block.settings.user_image != blank %}
                    <div class="user-image-wrapper">
                      <img src="{{ block.settings.user_image | image_url }}" alt="User Image" class="user-image">
                    </div>
                  {% endif %}
                  <div class="user-container">
                    <div class="desc">
                      <div class="review-title">
                        {% if block.settings.title != blank %}
                          <p class="user-name b2 semibold">
                            {{ block.settings.title | escape }}
                          </p>
                        {% endif %}
                        {% if block.settings.location != blank %}
                          <p class="user-location b4 regular">
                            {{ block.settings.location | escape }}
                          </p>
                        {% endif %}
                        {% if block.settings.disc != blank %}
                          <p class="user-location b4 regular">
                            {{ block.settings.disc | escape }}
                          </p>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <span class="str-style">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.smtestimonials-container').forEach(el => {
      const bg = el.getAttribute('data-bg');
      if (bg) {
        el.style.setProperty('--bg-url', `url(${bg})`);
        el.style.backgroundImage = 'none'; // prevent inline override
      }
    });
  });
  
  $('.smtestimonials-carousel').owlCarousel({
    loop: true,
    margin: 15,
    nav: false,
    dots: true,
    autoplay: false, // ❗Disable auto scroll
    autoplayTimeout: 5000, // optional, default is 5000ms
    responsive: {
      0: {
        items: 2,
      },
      480: {
        items: 2,
      },
      768: {
        items: 4,
      },
      1024: {
        items: 4,
      },
    },
  });
  
</script>
{% schema %}
{
  "name": "Review with product",
  "tag": "section",
  "class": "bannerwithtestimonial",
  "settings": [
    {
      "type": "header",
      "content": "Testimonial Settings"
    },
    {
      "type": "text",
      "id": "testtitle",
      "label": "Heading",
      "default": "Our Testimonials"
    },
    {
      "type": "text",
      "id": "testtitle1",
      "label": "Sub Title",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    },
    {
      "type": "color",
      "id": "testimonial_background",
      "label": "Background Color",
      "default": "#fafafa"
    },
    {
      "type": "color",
      "id": "testimonial_textcolor1",
      "label": "Text Color1",
      "default": "#666666"
    },
    {
      "type": "color",
      "id": "testimonial_textcolor2",
      "label": "Text Color2",
      "default": "#232323"
    },

    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "Enable Swipe on Mobile"
    }
  ],
  "blocks": [
    {
      "type": "testimonials_block",
      "name": "Testimonials Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "testimonialimages",
          "label": "Background Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Size: 250px X 250px"
        },
        {
          "type": "image_picker",
          "id": "user_image",
          "label": "Customer Image",
          "info": "Size: 50px X 50px"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Name",
          "default": "Stephan Robot"
        },
        {
          "type": "text",
          "id": "location",
          "label": "Location",
          "default": "Location"
        },
        {
          "type": "text",
          "id": "disc",
          "label": "discription",
          "default": "Terimakasih banyak, kini ruanganku menjadi lebih mewah dan terlihat mahal"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Review with product",
      "blocks": [
        {
          "type": "testimonials_block"
        },
        {
          "type": "testimonials_block"
        },
        {
          "type": "testimonials_block"
        },
        {
          "type": "testimonials_block"
        }
      ]
    }
  ]
}
{% endschema %}
